<div class='container'>
  <h1>Edit your account<span class="blinking-cursor">|</span></h1>
  <%= profile_image_for(@user) %>
  <p><em>Not digging your Gravatar?</em></p>
  <%= render 'form' %>
</div>
