/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.centered {
   text-align: center;
 }

.jumbotron {
}

.flash {
  background-color: #e74c3c;
  color: white;
  width: 100%;
}

.speaker-picture {
  padding-top: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
 }

.navbar-brand img {
   margin-top: -28px;
   display: inline-block;
   max-width: 55%;
   height: auto;
 }

.navbar {
   box-shadow: 0px 0px 35px black;
 }

.navbar-nav li a {
    line-height: 57px;
    height: 57px;
}

.blinking-cursor {
  font-weight: 100%;
  font-size: 1.0em;
  color: #2E3D48;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #5ee24f;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #5ee24f;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #5ee24f;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #5ee24f;
  }
}

@import "bootstrap-sprockets";
@import "bootstrap";
