<% if @talk.errors.any? %>
  <p class='lead'>Ah snap! We found <strong><%= pluralize(@talk.errors.count, 'error') %></strong> with your submission: </p>
  <% @talk.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
<% end %>
