<% if object.errors.any? %>
  <p class='lead'>Ah snap! We found <strong><%= pluralize(object.errors.count, 'error') %></strong> with your submission: </p>
  <% object.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
<% end %>
